# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# SQLite Database (Do not upload production or local data)
database.db
*.sqlite3

# User Uploads (Images, PDFs, etc.)
uploads/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
